<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycms.dao.ArticleContextMapper" >
  <resultMap id="BaseResultMap" type="com.mycms.model.ArticleContext" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="titleid" property="titleid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mycms.model.ArticleContext" extends="BaseResultMap" >
    <result column="context" property="context" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, titleid
  </sql>
  <sql id="Blob_Column_List" >
    context
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from articlecontext
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByTitleId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from articlecontext
    where titleid = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="searchByKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from articlecontext 
  	where context like CONCAT('%',#{context,jdbcType=VARCHAR},'%')
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from articlecontext
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mycms.model.ArticleContext" >
    insert into articlecontext (id, titleid, context
      )
    values (#{id,jdbcType=INTEGER}, #{titleid,jdbcType=INTEGER}, #{context,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mycms.model.ArticleContext" >
    insert into articlecontext
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="titleid != null" >
        titleid,
      </if>
      <if test="context != null" >
        context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="titleid != null" >
        #{titleid,jdbcType=INTEGER},
      </if>
      <if test="context != null" >
        #{context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mycms.model.ArticleContext" >
    update articlecontext
    <set >
      <if test="titleid != null" >
        titleid = #{titleid,jdbcType=INTEGER},
      </if>
      <if test="context != null" >
        context = #{context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mycms.model.ArticleContext" >
    update articlecontext
    set titleid = #{titleid,jdbcType=INTEGER},
      context = #{context,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mycms.model.ArticleContext" >
    update articlecontext
    set titleid = #{titleid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>